.card {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  position: relative;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 60px;
  color: black;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--primary);
}

.card-back {
  background-color: var(--secondary);
  transform: rotateY(180deg);
}
