.flippable-card-container {
  height: 400px;
  width: 250px;
  perspective: 1000px;
}

@media only screen and (min-width: 400px) {
  .flippable-card-container {
    height: 57vh;
    width: 74vw;
  }
}

@media only screen and (min-width: 473px) {
  .flippable-card-container {
    height: 57vh;
    width: 70vw;
  }
}

@media only screen and (min-width: 520px) {
  .flippable-card-container {
    height: 57vh;
    width: 320px;
  }
}
