:root {
  --background: #1d3557;
  --shadow: #457b9d;
  --secondary: #a8dadc;
  --primary: #f1faee;
  --highlight: #e63946;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--background);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: none;
  padding-bottom: 1000px;
}

.app-footer {
  background-color: var(--background);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 3px dashed var(--shadow);
}

.bottom-nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  height: 100px;
  font-size: 70px;
  margin: 23%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--primary);
}
